<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>

        <script>
        // $(function() {
        //     //
        // });
        </script>

</head>

<body>

   <% include ../partials/nav.ejs %>

   <div class="container" id="composePost">
      <p>Your blog has been posted!</p>
   </div>

</body>

</html>