<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>

        <script>
        </script>

</head>

<body>

   <% include ../partials/nav.ejs %>

   <div class="container" id="error">
      <p>There was an error with your request.</p>
   </div>

</body>

</html>