<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>

        <script>
            $(function() {
                $("button.buttonClass").click(function() {
                    console.log("we got a click");
                });

                var index = $('#index');
                index.load(function() {
                    console.log("index was loaded");
                });

                index.ready(function() {
                    console.log("index is ready");
                });

                $(window).on('load', function() {
                    // load the page with blog posts
                    $.ajax({
                        url: "api/blog_post",
                        success: function(result) {
                            var listPrefix = '<ul class="list-group">';
                            var blogList = listPrefix;
                            result.forEach(function(item) {
                                var listItem = '<li class="list-group-item" id="' + item['post_id'] + '"><a class="blog_post" href="' + item['post_id'] + '">' + item['title'] + '</a></li>';
                                blogList += listItem;
                            });
                            listPostfix = '</ul>';
                            blogList += listPostfix;
                            index.html(blogList);
                        }
                    });
                });
            });
        </script>

</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container" id="index">
        </div>

</body>

</html>