<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>

        <script>
            $(function() {
                $(window).on('load', function() {
                    // load the page with blog posts
                    $.ajax({
                        url: "api/blog_post",
                        success: function(result) {
                            var listPrefix = '<ul class="list-group">';
                            var blogList = listPrefix;
                            result.forEach(function(item) {
                                var listItem = '<li class="list-group-item" id="' + item['post_id'] + '"><h4><a class="blog_post" href="blog_post/' + item['post_id'] + '">' + item['title'] + '</a><br><small>' + item['author'] + '</small></h4></li>';
                                blogList += listItem;
                            });
                            listPostfix = '</ul>';
                            blogList += listPostfix;
                            index.html(blogList);
                        }
                    });
                });
            });
        </script>

</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container" id="index">
        </div>

</body>

</html>