<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>

        <script>
            $(function() {
                $(window).on('load', function() {
                    var posts = $('#profilePosts');
                    // load the page with blog posts
                    $.getJSON("/api/profile/blog_post", function(data) {
                        $.each(data, function(key, val) {
                            posts.append('<a href="/blog_post/' + val.post_id + '" class="list-group-item">' + val.title + '</a>');
                        });
                    });
                });
            });
        </script>

</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container">
            <div id="profilePosts" class="list-group">
            </div>
        </div>

</body>

</html>