<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>

        <script>
            $(function() {
                console.log('here 1');
                $(window).on('load', function() {
                    console.log('here 2');
                    // load the page with blog posts
                    $.getJSON("/api/blog_post/profile", function(data) {
                        console.log('here 3');
                        $.each(data, function(key, val) {
                            console.log('here 4');
                            console.log(key,val);
                        });
                    });
                });
            });
        </script>

</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container" id="index">
        </div>

</body>

</html>